[v-cloak] {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: normal;
    font-family: "Microsoft YaHei";
}

body {
    background: #ffffff;
}

img {
    border: 0;
    vertical-align: inherit !important;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    text-decoration: none !important;
}

input[type="text"], input[type="password"], input[type="number"] {
    outline: none;
    -webkit-appearance: none;
    /*去除浏览器默认样式，兼容Safari不支持input*/
    -moz-appearance: textfield;
}

button {
    outline: none;
    cursor: pointer;
}

.clear {
    clear: both;
}

.layer {
    width: 1190px;
    margin: 0 auto;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ellipsis2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ellipsis3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.margin-auto {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-indent {
    text-indent: 2em;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.overflow-auto {
    overflow: auto;
}

.overflow-hide {
    overflow: hidden;
}

.font-bold {
    font-weight: bold;
}





.online {
    width: 100%;
    min-height: 870px;
    margin: 30px auto;
}

.online-left {
    width: 200px;
    text-align: center;
    margin-right: 15px;
    float: left;
}

.online-left-fl {
    height: 4px;
    background: #f18b2d;
}

.online-left-sl {
    height: 4px;
    background: #000000;
}

.online-left-list {

}

.online-left-list li {
    height: 50px;
    line-height: 50px;
    background: #ffffff;
    border-top: 1px solid #efefef;
    color: #000000;
    font-size: 20px;
    transition: all 0.5s ease;
}

.online-left-list li:first-child {
    border-top: 0;
}

.online-left-list li:hover {
    background: #b89c67 !important;
}

.online-left-list li a {
    color: #333333;
}

.online-left-list li:hover a {
    color: #ffffff !important;
}

.online-left-list li a:hover {
    color: #ffffff !important;
}

.online-left-list-active {
    background: #b89c67 !important;
    color: #ffffff !important;
}

.online-left-list-active a {
    color: #ffffff !important;
}

.online-right {
    background: #ffffff;
    margin-left: 215px;
    min-height: 860px;
    padding: 40px 50px 40px;
}

.pop-parent {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    overflow: auto;
}

.pop {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 500px;
    background: #ffffff;
    padding: 50px;
    border-radius: 10px;
}

.pop-close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
}

.online-address-label {
    line-height: 40px;
    margin-right: 20px;
    font-size: 16px;
}

.online-address-title-input {
    width: calc(100% - 9px);
    margin-bottom: 5px;
    -webkit-appearance: none;
    height: 40px;
    padding-left: 9px;
    font-size: 16px;
    line-height: 40px;
    border: 1px solid #e2e2e2;
}

.online-address-details-input {
    width: calc(100% - 135px);
    margin: 10px 10px 15px 0;
    -webkit-appearance: none;
    height: 40px;
    padding-left: 9px;
    font-size: 16px;
    line-height: 40px;
    border: 1px solid #e2e2e2;
}

.online-address-btn {
    width: 109px;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    background: #d6d6d6;
    border: 1px solid #d6d6d6;
    font-size: 16px;
}

.online-address-list {
    position: absolute;
    left: 0;
    top: 42px;
    z-index: 999;
}

.online-address-list ul {
    width: 500px;
    border: 1px solid #e6e6e6;
    background: #f9f9f9;
}

.online-address-list li {
    padding: 10px 15px;
    border-bottom: 1px solid #e2e2e2;
    cursor: pointer;
}

.online-address-list li:hover {
    background: #d6d6d6;
}

.online-address-list-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
}

.online-address-list-details {
    font-size: 14px;
    color: #666;
    line-height: 20px;
}

.online-geton-btn {
    width: 109px;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    background: #0a0724;
    border: 1px solid #0a0724;
    font-size: 16px;
}

.online-geton-disable-btn {
    width: 109px;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    background: #d6d6d6;
    border: 1px solid #d6d6d6;
    font-size: 16px;
}

.online-geton-title-input {
    width: calc(100% - 135px);
    margin-bottom: 5px;
    -webkit-appearance: none;
    height: 40px;
    padding-left: 9px;
    font-size: 16px;
    line-height: 40px;
    border: 1px solid #e2e2e2;
}

.online-label {
    width: 80px;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
}

.online-content {
    margin-left: 50px;
    width: calc(100% - 130px);
    margin-bottom: 30px;
}


.online-submit-btn {
    width: 240px;
    padding: 15px 0;
    color: #fff;
    background: #f18b2d;
    border: none;
    text-align: center;
    font-size: 30px;
}

.online-geton-list {
    position: absolute;
    left: 0px;
    top: 42px;
    z-index: 999;
}

.online-geton-list ul {
    width: 500px;
    border: 1px solid #e6e6e6;
    background: #f9f9f9;
}

.online-geton-list li {
    padding: 10px 15px;
    border-bottom: 1px solid #e2e2e2;
    cursor: pointer;
}

.online-geton-list li:hover {
    background: #d6d6d6;
}


.mb30 {
    margin-bottom: 30px;
}


